button{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(225, 28, 28);
    border-radius: 50%;
    letter-spacing: 1px;
    font-size: 30px;
}